.switch {
  display: flex;
  justify-content: center;
  width: 130px;
  height: 30px;
  color: white;
  font-size: 9px;
}

.yes-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00B9D7;
  width: 40px;
}

.no-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #BCBEC0;
  width: 50px;
}
