.title {
  font-size: 30px;
  text-align: center;
  font-weight: normal;
}

.subtitle {
  font-size: 18px;
  text-align: center;
  font-weight: lighter;
  margin: 5px;
}

.input-sections {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.input-section {
  display: flex;
  justify-content: center;
}

.input-section > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 200px;
  width: 520px;
}

.input-section > div > p {
  font-size: 14px;
  font-weight: lighter;
  color: #696969;
}

.input-section h4 {
  font-size: 20px;
  font-weight: bolder;
}

.input-section select {
  width: 430px;
  height: 43px;
  font-size: 17px;
  background-color: white;
  border: 0px;
  outline: 1px inset black;
  outline-offset: -1px;
}

.input-section input {
  width: 430px;
  height: 43px;
  font-size: 17px;
  border: 1px solid black;
}

.input-section textarea {
  width: 430px;
  height: 43px;
  font-size: 17px;
  border: 1px solid black;
}

.button-wrapper {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 60px;
}

.continue-button {
  height: 44px;
  color: white;
  background-color: #00B9D7;
  width: 250px;
}
