.graphics {
  position: relative;
  width: 100%;
  height: 350px;
  color: white;
}

.image-wrapper {
  max-height: 350px;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 0;
}

.image {
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  width: 100%;
  background-color: rgba(24, 13, 1, 0.6);
  font-size: 20px;
  text-align: center;
  margin-top: 8%;
}
