@font-face {
  font-family: 'ProximaNova';
  src:
  url(require("./frontend/assets/Proxima%20Nova/ProximaNova-Black.eot?#iefix")) format('embedded-opentype'), /* IE6-IE8 */
  url(require("./frontend/assets/Proxima%20Nova/ProximaNova-Black.woff2")) format('woff2'), /* Super Modern Browsers */
  url(require("./frontend/assets/Proxima%20Nova/ProximaNova-Black.woff")) format('woff'), /* Pretty Modern Browsers */
  url(require("./frontend/assets/Proxima%20Nova/ProximaNova-Black.otf")) format('opentype');
}

body {
  margin: 0px;
  font-family: 'ProximaNova';
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 5px;
  color: white;
}

.header-left {
  display: flex;
}

.Tawkify {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}

.links {
  display: flex;
  justify-content: space-around;
  width: 400px;
  line-height: 45px;
}

.links > h3 {
  padding: 3px;
}

.header-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chat-button {
  display: flex;
}

.chat-button > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
