@font-face {
  font-family: 'ProximaNova';
  src:
  url(require("./ProximaNova-Black.otf")) format('opentype');
}

body {
  margin: 0px;
  font-family: 'Montserrat';
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #0c0804;
  padding: 5px;
  color: white;
  font-family: inherit;
}

.header-left {
  display: flex;
}

.Tawkify {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Tawkify > img {
  width: 92%;
}

.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 400px;
}

.links > h3 {
  padding: 3px;
}

.header-right {
  display: flex;
  justify-content: center;
}

.header-right > h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 30px;
  margin-right: 3px;
  font-weight: normal;
}

.chat-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-button > img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
  width: 95%;
}
