@font-face {
  font-family: 'ProximaNova';
  src:
  url(require("./ProximaNova-Black.otf")) format('opentype');
}

body {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 5px;
  color: white;
  font-family: inherit;
}

.header-left {
  display: flex;
}

.Tawkify {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}

.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 400px;
}

.links > h3 {
  padding: 3px;
}

.header-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chat-button {
  display: flex;
}

.chat-button > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
